<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjts.broadband.job.dao.ExpensesMapper" >
  <resultMap id="BaseResultMap" type="com.zjts.broadband.job.model.Expenses" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="ip_id" property="ipId" jdbcType="INTEGER" />
    <result column="bandwidth_id" property="bandwidthId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="cycle" property="cycle" jdbcType="INTEGER" />
    <result column="cycle_type" property="cycleType" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, ip_id, bandwidth_id, price, cycle, cycle_type, status
  </sql>

  <select id="findExpenses" resultType="com.zjts.broadband.job.model.Expenses">
    SELECT expenses.id,`name`,(CASE
    WHEN type='1' THEN '宽带'
    WHEN type='2' THEN '电视'
    WHEN type='3' THEN '固话'
    ELSE '其他'
    END) type ,`ip_id`,bandwidth_id,price,cycle,cycle_type,expenses.status,ip_segment.id,ip_name as ipName,start_ip,end_ip,ip_segment.status
    FROM expenses LEFT JOIN ip_segment ON expenses.ip_id=ip_segment.id

    where 1=1
    <if test="id !=null">
      and expenses.id=#{id,jdbcType=INTEGER}
    </if>
    <if test="name !=null">
      and name like #{name,jdbcType=VARCHAR}
    </if>
    <if test="type !=null ">
      and type=#{type,jdbcType=CHAR}
    </if>
    <if test="ipId !=null ">
      and ip_id=#{ipId,jdbcType=INTEGER}
    </if>
    <if test="bandwidthId !=null ">
      and bandwidth_id=#{bandwidthId,jdbcType=INTEGER}
    </if>
    <if test="price !=null ">
      and price=#{price,jdbcType=DECIMAL}
    </if>
    <if test="cycle !=null ">
      and cycle=#{cycle,jdbcType=INTEGER}
    </if>
    <if test="status !=null">
      and status=#{status,jdbcType=CHAR}
    </if>
  </select>

  <select id="selectExpensesType" resultType="com.zjts.broadband.job.model.Expenses">
    SELECT
    (CASE
    WHEN TYPE='1' THEN '宽带'
    WHEN TYPE='2' THEN '电视'
    WHEN TYPE='3' THEN '固话'
    ELSE '其他'
    END) `type` ,
    cycle_type FROM expenses


  </select>


</mapper>